[class*="col-"] {
    width: 100%
}
@media only screen and (min-width: 768px) {
    [class*-"col-"] {
        float: left;
        padding:15px
    }}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.koptekst {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    text-shadow: 3px 3px 2px black;
    color: white;
    text-align: center;
    height: 250px;
    background-image: url(elsloo052-400x250.jpeg) ;
}

p {
    font-family: Arial, sans-serif;
}

.feitjes {
    background-color:lightsalmon;
    padding: 15px 15px 15px 2px;
    min-width: 150px;
}

.inhoud {
    display: flex;
}

.artikelen {
    margin: 0 15px 15px 15px;
    background-color: coral;
}

header {
    width: 100%;
}

footer {
    font-size: 10px;
    width: 100%;
    clear: flex;
}

img {
    float: right;
    width: 150px;
    margin: 10px;
}

.tekstart {
    padding: 10px;
}
 
h2 {
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}